@import "tailwindcss";

body{
    background-color: rgb(241, 245, 241);
}

@layer base{
    .search-inp{
        @apply bg-white outline-none w-36 sm:w-full sm:px-5 sm:py-2 px-3 py-1 rounded text-slate-500 sm:font-medium;
    }
    .inp{
        @apply px-4 py-2 text-gray-600 rounded-md outline-none w-full;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
      
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #ffffff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}